[submodule "3rdparty/libASPL"]
	path = 3rdparty/libASPL
	url = https://github.com/gavv/libASPL.git
[submodule "3rdparty/CLI11"]
	path = 3rdparty/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "3rdparty/gRPC"]
	path = 3rdparty/gRPC
	url = https://github.com/grpc/grpc.git
[submodule "3rdparty/roc"]
	path = 3rdparty/roc
	url = https://github.com/roc-streaming/roc-toolkit.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rdparty/BoringSSL"]
	path = 3rdparty/BoringSSL
	url = https://github.com/google/boringssl.git
